{{!-- Creating a username variable from the data supplied to handlebars for the js file to capitalize--}}
<script>
    let username = "{{username}}";
</script>

<div id="list-background">
    <div class="row justify-content-center m-0">
        <div class="col-12 p-0">
            <div>
                <h2 class="text-center"id="welcome-message">
                {{!-- Capitalized username welcome is inserted here--}}
                </h2>
            </div>
        </div>

    </div>
    <div class="row m-3">
        <div class="col-md-4 col-sm-12">
            <a class="btn btn-primary mb-3" href="/newJournal" role="button" id="new-journal-btn">New Journal Entry</a>
        </div>

        {{!-- If journal entries were included in data sent to page, generate journal list--}}
        {{#if journals.length}}
        <div class="col-md-8 col-sm-12 journal-list" id="entries">

            <h4 class="text-center" id="journal-title"><u><strong>Current Journal Entries</strong></u></h4>
            <div class="col mb-2">
                {{!-- Create link and delete button for each journal entry received --}}
                {{#each journals as |journal|}}
                <div class="row" id="whisky-list">
                    <div class="col-md-8 col">
                        <h5></h5><a href="/journal/{{journal.id}}">{{journal.expression.name}}</a></h5>
                    </div>
                    <div class="col-md-4" id="erase-button">
                        <button class="btn pb-5" id="erase-entry" data-id="{{journal.id}}">Erase Entry</button>
                    </div>
                    
                </div>
                {{/each}}
            </div>
        {{/if}}
    </div>
</div>
<script src="./js/homepage.js"></script>
