html, body {
    margin: 0;
    height: 100%;
}

body {
    height: 100%;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../images/background.jpg);
}

.form-signin, .form-register {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
  
.form-signin .form-control, .form-register .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus, .form-register .form-control:focus {
    z-index: 2;
}
  
.form-signin input[type="username"], .form-register input[type="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"], .form-register input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}